.navbar {
  background-color: #ffffff;
  padding-left: 2.2rem;
}

.nav-link {
  color: black;
}

.nav {
  position: absolute;
  left: 30%;
}

.search-icon {
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
}

.searchbar {
  text-align: center;
  border-radius: 50px;
  width: 11rem;
  background-color: #f5f5f5;
  border: none;
}

.nav-link:hover {
  color: black;
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 992px) {
  .searchbar {
    display: none;
  }
  .navbar-toggler {
    position: absolute;
    right: 2rem;
  }
  .icons-nav {
    margin-right: 5.7rem;
  }
}

@media only screen and (max-width: 1085px) {
  .last-item {
    display: none;
  }
}
