@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.mainImg {
  width: 90%;
  height: 50%;
}

.MainContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Staatliches";
  font-size: 6rem;
  letter-spacing: 0px;
}

@media only screen and (max-width: 640px) {
  h1 {
    text-align: left !important;
    line-height: 4rem;
    margin-top: 3%;
    font-size: 3.9rem !important;
    line-height: 3.1rem !important;
    width: 20rem !important;
  }
  .mainImg {
    height: 21rem !important;
    width: 100%;
    object-fit: cover;
  }

  .MainContent {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 1005px) {
  h1 {
    text-align: center;
    width: 36.2rem;
    margin-top: 4%;
    font-size: 4.6rem;
    line-height: 5.3rem;
    margin-bottom: 3% !important;
  }

  .mainImg {
    height: 14rem;
    width: 100%;
    object-fit: cover;
  }
  .landingPageButton {
    display: none;
  }
}
